# MAC files
.DS_Store

# History files
.Rhistory
.Rapp.history
.Rproj.user
.RData

# large results that can't push to GH
results/Modfits_carehomes
results/Modfits_noserorev
results/Modfits_serorev
results/Modfits_carehomes
results/Modfits_ConfirmedDeaths
results/Fig_ConceptualFits
results/SeroDays_Concept
results/SimCurves_noserorev
results/SimCurves_serorev
results/descriptive_results
results/descriptive_figures
results/sero_reversion
results/Rgn_Mod_Stan
results/OLD
reports/final_reports

# Data files I'm generating
sandbox/
figures/
data/param_map/
.drake
# shared data
data/raw/shared


# knitr and R markdown default cache directories
/*_cache/
/cache/
*png

# Temporary files created by R markdown
*.utf8.md
*.knit.md
*unnamed-chunk*

# knitr outputs
reports/*.pdf
reports/*.html
reports/*.docx
reports/OLD/
reports/sims/
