# MAC files
.DS_Store

# History files
.Rhistory
.Rapp.history
.Rproj.user
.RData

# Data files I'm generating
sandbox/
data/
results/

# knitr and R markdown default cache directories
/*_cache/
/cache/
*png

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# knitr outputs
reports/*.pdf
reports/*.html
reports/*.docx
